%%-*- mode: erlang -*-

{lib_dirs, []}.

{deps_dir, "deps"}.

{deps, [
        {lhttpc, "1.5.3"}
       ]}.

{sub_dirs, []}.

{erl_opts, [debug_info]}.

{xref_checks, [undefined_function_calls]}.


%% == EUnit ==

%% Options for eunit:test()
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

%% Whether to enable coverage reporting.
{cover_enabled, true}.

%% Whether to print coverage report to console.
{cover_print_enabled, true}.

{profiles,
 [{test,
   [{deps, [{meck, "0.8.8"}]},
    {ct_opts, [
               {ct_hooks, [
                           cth_surefire,
                           cth_readable_failonly,
                           cth_readable_shell
                          ]}
              ]}
   ]}
 ]}.
