%%-*- mode: erlang -*-

{deps, [
        {lhttpc, "1.5.4"}
       ]}.

{erl_opts, [debug_info]}.

{xref_checks, [undefined_function_calls]}.


%% Whether to enable coverage reporting.
{cover_enabled, true}.

%% Whether to print coverage report to console.
{cover_print_enabled, true}.

{profiles,
 [{test,
   [{deps, [{meck, "0.8.8"}]},
    {ct_opts, [
               {ct_hooks, [
                           cth_surefire,
                           cth_readable_failonly,
                           cth_readable_shell
                          ]}
              ]}
   ]}
 ]}.
